# Node modules
node_modules/
.babelrc
.babelrc.js
.babel.config.js

.env

# Metro
.expo/
.expo-shared/
.expo-cache/
metro-cache/
react-native-packager-cache-*/

# macOS system files
.DS_Store

#git 
.git

# Android
android/.gradle/
android/app/build/
android/build/
android/.idea
android/local.properties
android/.cxx/
*.keystore

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/*.xcworkspace/xcuserdata/
ios/DerivedData/
ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
*.xcuserstate

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/

# Expo
*.expo
*.expo-shared
.expo/
.expo-shared/
*.turtleignore

# IDEs
.vscode/
.idea/
*.sw?
*.sublime*

# Testing
coverage/
jest/
*.snap

# OS and other
*.log
*.tmp
*.temp
*.bak
*.lock
# .env
# .env.*
# .env.local
# .env.production.local

# Cached images / thumbnails
thumbs.db
ehthumbs.db

# Build artifacts
*.apk
*.aab
*.ipa

# Misc
build/
dist/
